In [2]:
import pandas as pd

In [3]:
def load_data():
    train_df = pd.read_csv('../data/raw/Train.csv')
    waste_df = pd.read_csv('../data/raw/waste_management.csv')
    toilets_df = pd.read_csv('../data/raw/toilets.csv')
    water_df = pd.read_csv('../data/raw/water_sources.csv')
    return train_df, waste_df, toilets_df, water_df

train_df, waste_df, toilets_df, water_df = load_data()

In [6]:
# Initial Data Exploration for Train Dataset
print("Train Dataset Shape:", train_df.shape)

Train Dataset Shape: (23848, 9)

In [7]:
print("\nFirst few rows of the dataset:")
train_df.head()

First few rows of the dataset:

,ID,Total,Location,Category_Health_Facility_UUID,Disease,Month,Year,Transformed_Latitude,Transformed_Longitude
0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Dysentery,12,2022,-8.62982,68.23267
1,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Typhoid,12,2022,-8.62982,68.23267
2,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Diarrhea,12,2022,-8.62982,68.23267
3,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Diarrhea,12,2022,-8.62982,68.23267
4,ID_3a11929e-3317-476d-99f7-1bd9fb58f018_12_202...,0.0,ID_3a11929e-3317-476d-99f7-1bd9fb58f018,a9280aca-c872-46f5-ada7-4a7cc31cf6ec,Diarrhea,12,2022,-8.62982,68.23267

In [8]:
print("\nData Info:")
train_df.info()

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23848 entries, 0 to 23847
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             23848 non-null  object
 1   Total                          23847 non-null  float64
 2   Location                       23848 non-null  object
 3   Category_Health_Facility_UUID  23848 non-null  object
 4   Disease                        23848 non-null  object
 5   Month                          23848 non-null  int64
 6   Year                           23848 non-null  int64
 7   Transformed_Latitude           23848 non-null  float64
 8   Transformed_Longitude          23848 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 1.6+ MB

In [9]:
print("\nSummary Statistics:")
train_df.describe()

Summary Statistics:

,Total,Month,Year,Transformed_Latitude,Transformed_Longitude
count,23847.000000,23848.000000,23848.000000,23848.00000,23848.000000
mean,8.355600,6.568643,2020.610282,-8.61252,68.242682
std,28.076713,3.445577,1.133108,0.04251,0.029114
min,0.000000,1.000000,2019.000000,-8.71376,68.169720
25%,0.000000,4.000000,2020.000000,-8.62656,68.224740
50%,0.000000,7.000000,2021.000000,-8.61740,68.237620
75%,3.000000,10.000000,2022.000000,-8.59431,68.257640
max,489.000000,12.000000,2022.000000,-8.49681,68.328390

In [10]:
print("\nMissing Values:")
train_df.isnull().sum()

Missing Values:

ID                               0
Total                            1
Location                         0
Category_Health_Facility_UUID    0
Disease                          0
Month                            0
Year                             0
Transformed_Latitude             0
Transformed_Longitude            0
dtype: int64

In [11]:
# Count unique values in categorical columns
categorical_cols = ['Location', 'Category_Health_Facility_UUID', 'Disease']
print("\nUnique Values in Categorical Columns:")
for col in categorical_cols:
    print(f"\n{col}:")
    print(train_df[col].value_counts().head())

Unique Values in Categorical Columns:

Location:
Location
ID_8016b072-00e9-47d3-b26b-0bc55f541664    529
ID_bd1b57a9-066c-497a-bdef-7ae8e849db14    528
ID_6f399bd7-f181-432a-bddc-9fff8dca7f81    528
ID_8c25ad79-9b7f-4ba0-8e03-69cbfcd39569    528
ID_704a38c1-35ca-4e81-ab81-02fcf41d1f72    528
Name: count, dtype: int64

Category_Health_Facility_UUID:
Category_Health_Facility_UUID
a9280aca-c872-46f5-ada7-4a7cc31cf6ec    13750
b7f0a600-e19e-4c65-acb3-e28584dae35b     5621
a3761841-2a02-4c17-8589-d35aac4edc24     2497
56cd4cbb-23db-4dde-a6ae-9fc1ed7c8662     1980
Name: count, dtype: int64

Disease:
Disease
Malaria             8672
Diarrhea            6500
Typhoid             2170
Schistosomiasis     2169
Intestinal Worms    2168
Name: count, dtype: int64